body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://recruitment.pertamina.com//assets/frontend/images/dua.jpg);
    background-size: cover;
    color: black;
    text-align: left;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 1px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #fafafa;
    position:fixed;
    top: 0px;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 15px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 85%;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: black;
    display: block;
  }
  
  .lesson-wrapper {
    height: 600px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 10px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    top: 90px;
    width: 100%;
    color: black;
    opacity:0.8;
  }
  
  .lesson-icon img {
    width:250px;
    height:200px;
  }

  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  .footer-left {
    float: left;
  }

  .footer-right {
    float: right;
  }

  .footer-right p{
    color:#b3aeb5;
    font-size:12px;
  }

  .footer-left img{
    width:125px;
  }
  
  .footer-left p{
    color:#b3aeb5;
    font-size:12px;
  }
  
  footer{
    padding-top:30px;
  }
  
  .social-media-icon {
    padding: 2px 3px 1px 3px;
    background: #222;
    color: #fff;
    margin: 5px;
    border-radius: 4px;
  }
  a.social-media-icon:hover{
    background: #fff!important;
    color: #222!important;
  }
  .facebook{
    background:  #3c5a98!important;
  }

  .twitter{
    background: #1da1f2!important;
  }

 
